@import "./assets/scss/base/typography";
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #cdced7;
}

::-webkit-scrollbar-thumb:hover {
  background: #c4c3c9;
}
